body{
    background-color: rgb(3, 58, 3);
color: white;
font-family: font-family: "Bai Jamjuree", sans-serif; ;
display: flex;
justify-content: center;
align-itens: center;
height: 700px;
nargin: 0;
}

button{
    background-color: rgb(118, 224, 12);
    color: white;
    font-family: font-family: "Bai Jamjuree", sans-serif; ;
}

.passo{
    display: nome;
}

.passo.ativo{
    display:block;
}